target/

# IDEA user specific files (rest of files in .idea directory should be checked in)
.idea/workspace.xml
.idea/tasks.xml

# Visual Studio related files
*.suo
*.csproj.user
*.DotSettings.user
obj/
[Bb]in/
